/*==================================================================================
    Custom Stylesheet ( Any custom styling you want to apply should be defined here ).
====================================================================================*/

.gradient-bg-orange, .service-box.orange-gradient:hover {
    background-image: linear-gradient(
244deg
, #0074c9 0%, #07a7e3 100%) !important;
}

.btn .grad-btn-6 {
    background-image: linear-gradient(to right, #0074c9 0, #07a7e3 51%, #0074c9 100%);
}

.btn .grad-btn-6:after, .btn .grad-btn-6.outline:hover, .btn .grad-btn-6.outline.active {
    background-image: linear-gradient(to right, #0078cb 0, #06a1e0 51%, #0179cb 100%);
    background-size: 200% auto;
}

.digital-agency-header.header-sticky.header-not-top {
    background-image: linear-gradient(to right, #007bcc 0, #0599dc 51%, #0079cc 100%) !important;
    background-size: 200% auto !important;
}

#__button {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    align-items: center;
    margin: 20px auto;
}